@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.296);
    background-image: url('./resources/bg.jpg');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: 50% -100px;
    background-size: 100wv;
    display: flex;
    justify-content: center;    
}
.menu{
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 80%;
    > :first-child{
        border: 2px white solid;
        border-radius: 50px;
        padding: 20px;
        width: 50px;
    }
    > .about{
        width: 100%;
        border-block: solid 2px white;
        text-align: center;
        > p{
            letter-spacing: 2px;
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            line-height: 30px;
            color: white;
            text-align: start;
            > a{
                font-family: "Open Sans", sans-serif;
                color: white;
                text-decoration-style: dotted;
                text-decoration-line: underline;
            }
            > a:hover{
                color: aqua;
            }
        }
        > h1{
            font-family: "Open Sans", sans-serif;
            letter-spacing: 5px;
            color: white;
        }
    }
    > .buttons{
        font-family: "Open Sans", sans-serif;
        display: flex;
        flex-direction: column;
        width: 100%;
        > :first-child{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        > :last-child{
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        > button{
            letter-spacing: 2px;
            font-weight: 300;
            font-family: "Open Sans", sans-serif;
            background-color: transparent;
            border: 1px solid white;
            color: white;
            padding-block: 10px;
        }
        > button:hover{
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.375);
        }
    }
}
.line{
    border-left: 2px solid white;
    height: 50px;
}

.tab1,
.tab2,
.tab3,
.tab4{
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    position: relative;
    background-color: rgba(23, 22, 22, 0.897);
    width: 95%;
    height: 95%;
    > :first-child{
        width: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    > :first-child:hover{
        cursor: pointer;
    }
    > h1{
        font-family: "Open Sans", sans-serif;
        letter-spacing: 6px;
        place-self: start;
        margin-left: 5%;
        margin-top: 50px;
        text-align: start;
        color: white;
        border-bottom: 2px solid white;
        padding-bottom: 10px;
        font-size: 1.5rem;
    }
    > .remas{
        overflow: hidden;
        width: 90%;
        border-radius: 5px;
        > video{
            width: 100%;
        }
        > img{
            width: 100%;
        }
    }
    > p{
        font-family: "Open Sans", sans-serif;
        line-height: 30px;
        width: 90%;
        color: white;
    }
}


.hidden{
    display: none;
}
.close:hover,
.close1:hover,
.close2:hover,
.close3:hover{
    animation: close 0.3s ease 1;
}
@keyframes close {
    100%{ transform: rotate(90deg); }
}

@media (min-width: 700px){
    .menu{
        > .about{
            > p{
                text-align: center;
            }
        }
        > .buttons{
            display: flex;
            flex-direction: row;
            justify-content: center;
            > :first-child{
               border-bottom-left-radius: 5px;
               border-top-right-radius: unset;
            }
            > :last-child{
                border-bottom-left-radius: unset;
                border-top-right-radius: 5px;
            }
            > button{
                width: 150px;
            }
        }
    }
    .tab1,
    .tab2,
    .tab3,
    .tab4{
        margin-top: 5%;
        width: 80%;
        height: fit-content;
        > .remas{
            width: 90%;
            max-height: 350px;
            overflow: hidden;
            border-radius: 5px;
            > img{
                position: center;
            }
        }
    }
}